<div class="item-card" cdkDrag [cdkDragData]="item" [cdkDragDisabled]="isMobile">
  
  <div class="item-thumb" [routerLink]="['/item', item.id]">
     </div>

  <div class="item-content">
    </div>

  <div class="item-actions desktop-only">
    <button *ngIf="featureService.isSalesModeEnabled() && item.status !== 4" 
            class="action-btn sell" (click)="onSell($event)">
      <i class="fa fa-dollar-sign"></i>
    </button>
    <button class="action-btn details" [routerLink]="['/item', item.id]">
      <i class="fa fa-chevron-right"></i>
    </button>
    <button class="action-btn delete" (click)="onDelete($event)">
      <i class="fa fa-trash-alt"></i>
    </button>
  </div>

  <div class="item-actions mobile-only">
    <button class="menu-btn" (click)="toggleMenu($event)">
      <i class="fa fa-ellipsis-v"></i>
    </button>

    <div class="menu-dropdown item-menu" *ngIf="showMenu" (click)="$event.stopPropagation()">
      <div class="menu-section">
        <label><i class="fa fa-exchange-alt"></i> Переместить в:</label>
        <div class="select-wrapper">
          <select (change)="onMove($event)">
            <option value="" disabled selected>Выберите локацию...</option>
            <option *ngFor="let loc of availableLocations" [value]="loc.id">
              {{ loc.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="divider"></div>
      <button [routerLink]="['/item', item.id]"><i class="fa fa-info-circle"></i> Детали</button>
      <button *ngIf="featureService.isSalesModeEnabled()" (click)="onSell($event)"><i class="fa fa-dollar-sign"></i> Продать</button>
      <button (click)="onDelete($event)" class="delete-btn"><i class="fa fa-trash-alt"></i> Удалить</button>
    </div>
  </div>

  <div class="item-drag-placeholder" *cdkDragPlaceholder></div>
</div>