<div class="main-page-container">
  
  <app-location-ribbon
    [locations]="locations"
    [currentPage]="currentPageRibbon"
    [activeBoardIds]="activeBoardIds"
    (pageChange)="currentPageRibbon = $event"
    (reorder)="onRibbonReorder($event)"
    (jumpTo)="jumpToLocation($event)">
  </app-location-ribbon>

  <div class="board-grid-3"><!--style="background: #000"-->
    <div class="loader-overlay" *ngIf="isLoading">{{'MAIN.LOADING' | translate }}</div>
    
    <app-location-card 
      *ngFor="let loc of pagedBoardLocations; trackBy: trackById"
      [location]="loc"
      [flatLocations]="flatLocations"
      [connectedLists]="connectedLists"
      [isChildOf]="isChildOf.bind(this)"
      (itemDropped)="onItemDropped($event)"
      (sellItem)="onSellRequest($event)" 
      (move)="onLocationMove($event)"
      (moveItemManual)="onItemMoveManual($event)"
      (rename)="onRename($event)"
      (deleteItem)="onDeleteItem($event)"
      (delete)="onDelete($event)">
    </app-location-card>
  </div>
</div>

<div class="board-pager-row" *ngIf="totalBoardPages > 1">
  <div class="board-pager-nav">
    <button (click)="currentPageBoard = currentPageBoard - 1" [disabled]="currentPageBoard === 0">❮  
    </button>
    <span class="page-info">{{'MAIN.PAGE' | translate }}{{ currentPageBoard + 1 }} / {{ totalBoardPages }}</span>
    <button (click)="currentPageBoard = currentPageBoard + 1" [disabled]="currentPageBoard === totalBoardPages - 1">❯
    </button>
  </div>
</div>

<app-sell-modal 
  *ngIf="itemToSell" 
  [item]="itemToSell"
  (close)="itemToSell = null"
  (confirm)="onSellConfirmed($event)">
</app-sell-modal>