# =========================
# Backend (.NET)
# =========================
**/bin/
**/obj/
**/*.user
**/*.vs
.vs/
*.suo
*.userosscache
*.sln.docstates

# Test Results & Code Coverage
**/TestResults/
**/coverage/
*.coverage
*.coveragexml

# =========================
# Secrets & Local Configuration
# =========================

# Local environment variables
**/.env
**/.env.*

# Local appsettings
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Local.json

# Local databases
*.db
*.db-shm
*.db-wal

# =========================
# Frontend (Angular)
# =========================
node_modules/
dist/
.angular/
.vscode/
coverage/
.npm/

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db