<div class="item-card"
  cdkDrag
  [cdkDragData]="item"
  [cdkDragDisabled]="isMobile"
  [class.menu-open]="showMenu"
  [style.border-left-color]="getAccentColor()"
  [style.background-color]="getCardBackground()">

  <div *cdkDragPreview class="custom-drag-preview" [style.border-left-color]="getAccentColor()">
    <div class="preview-thumb">
      @if (item.photoUrl) {
        <img [src]="getPhotoUrl(item.photoUrl)" alt="item">
      } @else {
        <i class="fa fa-box-open"></i>
      }
    </div>
    <span class="preview-name">{{ item.name }}</span>
  </div>

  <div class="item-thumb">
    @if (item.photoUrl) {
      <img [src]="getPhotoUrl(item.photoUrl)" alt="item">
    } @else {
      <div class="no-image"><i class="fa fa-box-open"></i></div>
    }
  </div>

  <div class="item-content">
    <div class="item-header">
      <span class="item-name" [title]="item.name">{{ item.name }}</span>
    </div>
    <div class="item-details">

      @if (featureService.isSalesModeEnabled() && details) {
        <span class="price-tag">
          @if (details.estimatedValue != null) {
            {{ details.estimatedValue | number:'1.0-0' }}
            {{ details.currency }}
          }
        </span>
      }

      <span class="status-badges">
        @if (item.status === 1) {
          <i class="fa fa-share-square"
            style="color: var(--g-yellow)"
            [attr.title]="'STATUS.LENT' | translate"></i>
        }

        @if (item.status === 4) {
          <i class="fa fa-reply"
            style="color: var(--g-blue)"
            [attr.title]="'STATUS.BORROWED' | translate"></i>
        }
      </span>

    </div>
  </div>

  <div class="card-action-bar">
    <button class="inest-action-btn btn-info" [routerLink]="['/item', item.id]" [attr.title]="'COMMON.INFO' | translate">
      <i class="fa fa-info-circle"></i>
    </button>

    <div class="card-actions-wrapper">
      <button class="inest-action-btn menu-toggle-btn" (click)="toggleMenu($event); $event.stopPropagation()" [class.active]="showMenu" [attr.title]="'COMMON.MORE_DETAILS' | translate">
        <i class="fa fa-ellipsis-v"></i>
      </button>

      @if (showMenu) {
        <div class="modern-dropdown" (click)="$event.stopPropagation()">
          
          <button class="dropdown-item btn-edit" (click)="edit.emit(item); closeMenu()">
            <i class="fa fa-pen"></i> {{ 'COMMON.EDIT' | translate }}
          </button>

          @if (featureService.isLendingModeEnabled() && canLend) {
            <button class="dropdown-item btn-lend" (click)="lend.emit(item); closeMenu()">
              <i class="fa fa-handshake"></i> {{ 'COMMON.LEND' | translate }}
            </button>
          }

          @if (canReturn) {
            <button class="dropdown-item btn-return" (click)="returnItem.emit(item); closeMenu()">
              <i class="fa fa-undo"></i> {{ 'COMMON.RETURN' | translate }}
            </button>
          }

          @if (featureService.isSalesModeEnabled() && canSell) {
            <button class="dropdown-item btn-sell" (click)="sell.emit(item); closeMenu()">
              <i class="fa fa-dollar-sign"></i> {{ 'COMMON.SELL' | translate }}
            </button>
          }

          <div class="dropdown-divider"></div>

          @if (item.status === 0) {
            <div class="move-section">
              <label><i class="fa fa-exchange-alt"></i> {{ 'ITEM_CARD.MOVE_MSG' | translate }}</label>
              <div class="select-container">
                <select (change)="onMove($event)">
                  <option value="" disabled selected>{{ 'ITEM_CARD.SELECT_LOCATION' | translate }}</option>
                  @for (loc of availableLocations; track loc.id) {
                    <option [value]="loc.id">{{ loc.name }}</option>
                  }
                </select>
                <i class="fa fa-chevron-down select-arrow"></i>
              </div>
            </div>
            <div class="dropdown-divider"></div>
          }

          @if (canDelete) {
            @if (item.status === 3) {
              <button class="dropdown-item btn-delete hard-delete" (click)="delete.emit(item); closeMenu()">
                <i class="fa fa-fire"></i> {{ 'COMMON.HARD_DELETE' | translate }}
              </button>
            } @else {
              <button class="dropdown-item btn-delete" (click)="delete.emit(item); closeMenu()">
                <i class="fa fa-archive"></i> {{ 'COMMON.ARCHIVE' | translate }}
              </button>
            }
          }
        </div>
      }
    </div>
  </div>

  @if (!isMobile) {
    <div class="handle-section">
        <div class="v-divider"></div>
        <div class="drag-handle" cdkDragHandle [attr.title]="'ITEM_CARD.HOLD_TOOLTIP' | translate">
            <i class="fa fa-grip-vertical"></i>
        </div>
    </div>
  }
</div>