<app-header></app-header>

<main class="content">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<app-inest-modal *ngIf="modal.config" [mode]="modal.config.mode" [title]="modal.config.title" 
  [message]="modal.config.message" [name]="modal.config.name || ''" 
  [confirmText]="modal.config.confirmText" [cancelText]="modal.config.cancelText"
  (confirmed)="modal.confirm($event)" (cancelled)="modal.close()">
</app-inest-modal>

<app-sell-modal *ngIf="modal.activeModal === 'sell' && modal.selectedItem" [item]="modal.selectedItem"
  (close)="modal.close()" (confirm)="modal.confirm($event)">
</app-sell-modal>

<app-lend-item-modal *ngIf="modal.activeModal === 'lend' && modal.selectedItem" [item]="modal.selectedItem"
  [isOpen]="true" (close)="modal.close()" (confirm)="modal.confirm($event)">
</app-lend-item-modal>

<app-create-item-modal 
*ngIf="modal.activeModal === 'createItem'"
  [parentId]="modal.currentParentId"
  (close)="modal.close()"
  (created)="modal.confirm($event)">
</app-create-item-modal>

<app-create-location-modal 
  *ngIf="modal.activeModal === 'createLoc'"
  [parentId]="modal.currentParentId"
  (close)="modal.close()"
  (created)="modal.confirm($event)">
</app-create-location-modal>