:root {
  /*logo*/
  --logo-url: url('/assets/images/LogoKaraLight.png');

  /*main*/
  --bg-main: #e2e8f0;
  --bg-card: #f8fafc;
  --bg-main-card: #dbe1e7; 
  --bg-input: #cbd5e1;

  /*main button*/
  --border-main-button: #d7ffe4;

  /*button*/
  --bg-cancel-button: #cbd5e1; 
  --bg-google-button: #b1bccd;

  /*ribbon*/
  --bg-ribbon: #e2e8f0;
  /*no selected*/
  --bg-ribbon-card-no-selected: #f8fafc;
  --border-ribbon-card-no-selected: #94a3b8;
  --text-ribbon-card-no-selected: #334155;
  /*selected*/
  --bg-ribbon-card-selected: #ffffff;
  --border-ribbon-card-selected: var(--accent-color);
  --text-ribbon-card-selected: #0e7490;

  --text-main: #1e293b;
  --text-muted: #64748b;
  --text-on-accent: #ffffff;
  --text-access: #2563eb;

  --border-color: #94a3b8;
  --accent-color: #06b6d4;
  
  /* Константы */
  --dark-blue: #0b132b;
  --navy-blue: #1c2541;
  --turquoise: #00f5d4;
  --error-red: #ff4d4d;
  --hover-blue: #11038f;
  /* Combine Palette */
  --g-blue: #4285F4;
  --g-red: #EA4335;
  --g-yellow: #FBBC05;
  --g-green: #34A853;
}

body.dark-theme {
  /*logo*/
  --logo-url: url('/assets/images/LogoKaraDark.png');

  /*main*/
  --bg-main: #0b132b;
  --bg-card: #1c2541;
  --bg-main-card: #19213a; 
  --bg-input: #0b132b;

  /*main button*/
  --border-main-button: #00b894;

  /*button*/
  --bg-cancel-button: #0b132b;
  --bg-google-button: #101b3d;

  /*ribbon*/
  --bg-ribbon: #1c2541;
  /*no selected*/
  --bg-ribbon-card-no-selected: #0b132b;
  --border-ribbon-card-no-selected: #177764;
  --text-ribbon-card-no-selected: #00f5d4;
  /*selected*/
  --bg-ribbon-card-selected: #0b132b;
  --border-ribbon-card-selected: #00b894;
  --text-ribbon-card-selected: #00f5d4;

  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --text-on-accent: #0b132b;
  --text-access: #00b894;

  --border-color: #3a506b;
  --accent-color: #00f5d4;
}