:root {
  --bg-main: #f5f7fa;
  --bg-card: #ffffff;
  --bg-input: #e2e6eb;
  --bg-botton: #d8d8d8;
  --bg-err-botton: #e2e6eb;//same --bg-input

  --text-main: #1e293b;
  --text-muted: #64748b;
  --text-on-accent: #ffffff;
  --text-access: #0040ff;

  --border-color: #cbd5e1;
  --accent-color: #00b894;
  
  /* Константы */
  --dark-blue: #0b132b;
  --navy-blue: #1c2541;
  --turquoise: #00f5d4;
  --error-red: #ff4d4d;
}

body.dark-theme {
  --bg-main: #0b132b;
  --bg-card: #1c2541;
  --bg-input: #0b132b;
  --bg-botton: #141924;
  --bg-err-botton: #0b132b;//same --bg-input

  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --text-on-accent: #0b132b;
  --text-access: #00b894;

  --border-color: #3a506b;
  --accent-color: #00f5d4;
}