<div class="main-page-container">
  
  <app-location-ribbon
    [locations]="locations"
    [currentPage]="currentPageRibbon"
    [activeBoardIds]="activeBoardIds"
    (pageChange)="currentPageRibbon = $event"
    (reorder)="onRibbonReorder($event)"
    (jumpTo)="jumpToLocation($event)">
  </app-location-ribbon>

  <div class="board-header-zone">
    <div class="main-actions">
      <button routerLink="/location-create" class="btn-action fill">
        <i class="fa fa-plus"></i> Локация
      </button>
      <button routerLink="/create-item" class="btn-action fill">
        Добавить предмет
      </button>
    </div>

    <div class="board-pager-row" *ngIf="totalBoardPages > 1">
      <div class="board-pager-nav">
        <button (click)="currentPageBoard = currentPageBoard - 1" [disabled]="currentPageBoard === 0">
          <i class="fa fa-arrow-left"></i>
        </button>
        <span class="page-info">{{ currentPageBoard + 1 }} / {{ totalBoardPages }}</span>
        <button (click)="currentPageBoard = currentPageBoard + 1" [disabled]="currentPageBoard === totalBoardPages - 1">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="board-grid-3">
    <div class="loader-overlay" *ngIf="isLoading">Загрузка...</div>
    
    <app-location-card 
      *ngFor="let loc of pagedBoardLocations; trackBy: trackById"
      [location]="loc"
      [flatLocations]="flatLocations"
      [connectedLists]="connectedLists"
      [isChildOf]="isChildOf.bind(this)"
      (itemDropped)="onItemDropped($event)"
      (sellItem)="onSellRequest($event)" 
      (move)="onLocationMove($event)"
      (rename)="onRename($event)"
      (deleteItem)="onDeleteItem($event)"
      (delete)="onDelete($event)">
    </app-location-card>
  </div>
</div>

<app-sell-modal 
  *ngIf="itemToSell" 
  [item]="itemToSell"
  (close)="itemToSell = null"
  (confirm)="onSellConfirmed($event)">
</app-sell-modal>