<div class="location-column" [style.border-top-color]="location.color">
  <div class="loc-header">
    <div class="title-group">
      <div class="icon-wrapper" [style.background-color]="location.color + '20'">
        <i [className]="'fa ' + (location.icon || 'fa-folder')" [style.color]="location.color"></i>
        <span class="item-count"> - {{ (location.items.length || 0) }}</span>
      </div>
      <div class="name-stack">
        <h3>
          {{ location.name }}
          <i *ngIf="location.isSalesLocation" class="fa fa-shopping-cart status-icon sales" title="Sales Location"></i>
          <i *ngIf="location.isLendingLocation" class="fa fa-handshake status-icon lending" title="Lending Location"></i>
        </h3>
        
      </div>
    </div>
    
    <button class="inest-action-btn" (click)="$event.stopPropagation(); location.showMenu = !location.showMenu">
      <i class="fa fa-ellipsis-v"></i>
    </button>

    <div class="menu-dropdown" *ngIf="location.showMenu" (click)="$event.stopPropagation()">
      <div class="menu-section">
        <label><i class="fa fa-exchange-alt"></i> {{'LOCATIONS.DROP_MENU.MOVE_TO' | translate }}</label>
        <div class="select-wrapper">
          <select (change)="onMove($event)">
            <option value="" disabled selected>...</option>
            <option value="root">📁 {{'LOCATIONS.DROP_MENU.HIGHER_LEVEL' | translate}}</option>
            <option *ngFor="let target of flatLocations" 
                    [value]="target.id" 
                    [disabled]="target.id === location.id || isChildOf(target.id, location)">
              {{ target.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="divider"></div>
      
      <div class="menu-actions">
        <button class="menu-item-btn" [routerLink]="['/location', location.id]" (click)="location.showMenu = false">
          <i class="fa fa-expand-alt"></i> {{'LOCATIONS.DROP_MENU.DETAILS' | translate}}
        </button>
        <button class="menu-item-btn" (click)="rename.emit(location)">
          <i class="fa fa-pen"></i> {{'LOCATIONS.DROP_MENU.RENAME' | translate}}
        </button>
        <div class="divider"></div>
        <button (click)="delete.emit(location)" class="menu-item-btn delete-loc-btn">
          <i class="fa fa-trash-alt"></i> {{'LOCATIONS.DROP_MENU.DELETE' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div
    cdkDropList
    [id]="location.id"
    [cdkDropListData]="location.items"
    [cdkDropListConnectedTo]="connectedLists"
    (cdkDropListDropped)="onItemDrop($event)"
    class="items-container">
    
    <app-item-card 
      *ngFor="let item of (location.items || [])" 
      [item]="item"
      [flatLocations]="flatLocations"
      (sell)="sellItem.emit($event)"
      (lend)="lendItem.emit($event)"
      (delete)="deleteItem.emit($event)"
      (move)="onItemMoveManual($event)">
    </app-item-card>
    
    <div class="empty-state" *ngIf="location.items.length === 0">
      <i class="fa fa-box-open"></i>
      <p>Пусто</p>
    </div>
  </div>

  <div class="child-locations" *ngIf="location.children?.length">
    <app-location-card 
        *ngFor="let child of location.children" 
        [location]="child"
        [flatLocations]="flatLocations"
        [connectedLists]="connectedLists"
        [isChildOf]="isChildOf"
        (itemDropped)="itemDropped.emit($event)"
        (move)="move.emit($event)"
        (moveItemManual)="moveItemManual.emit($event)" (rename)="rename.emit($event)"
        (delete)="delete.emit($event)"
        (sellItem)="sellItem.emit($event)"
        (deleteItem)="deleteItem.emit($event)"> 
    </app-location-card>
  </div>
</div>