<div class="location-column" [style.border-top-color]="location.color">
  <div class="loc-header">
    <div class="title-group">
      <div class="icon-wrapper" [style.background-color]="location.color + '20'">
        <i [className]="'fa ' + (location.icon || 'fa-folder')" [style.color]="location.color"></i>
        <span class="item-count"> - {{ location.items.length || 0 }}</span>
      </div>
      <div class="name-stack">
        <h3>{{ location.name }}</h3>
      </div>
    </div>
    
    <div class="header-actions">
      <button class="quick-add-btn item-btn" 
              [routerLink]="['/create-item']" 
              [queryParams]="{ locationId: location.id }"
              [title]="'LOCATION_CARD.BTN.ITEM' | translate">
        <i class="fa fa-plus-circle"></i>
        <span class="btn-label">{{'LOCATION_CARD.BTN.ITEM' | translate}}</span>
      </button>

      <button class="quick-add-btn loc-btn" 
              [routerLink]="['/location-create']" 
              [queryParams]="{ parentId: location.id }"
              [title]="'LOCATION_CARD.BTN.LOCATION' | translate">
        <i class="fa fa-folder-plus"></i>
        <span class="btn-label">{{'LOCATION_CARD.BTN.LOCATION' | translate}}</span>
      </button>

      <button class="inest-action-btn" (click)="location.showMenu = !location.showMenu" [title]="'COMMON.MORE' | translate">
        <i class="fa fa-ellipsis-v"></i>
      </button>
    </div>

    <div class="menu-dropdown" *ngIf="location.showMenu">
      <div class="menu-section">
        <label><i class="fa fa-exchange-alt"></i> {{'LOCATION_CARD.DROP_MENU.MOVE_MSG' | translate }}</label>
        <div class="select-wrapper">
          <select (change)="onMove($event)">
            <option value="" disabled selected>...</option>
            <option value="root">📁 {{'LOCATION_CARD.DROP_MENU.HIGHER_LEVEL' | translate}}</option>
            <option *ngFor="let target of flatLocations" 
                    [value]="target.id" 
                    [disabled]="target.id === location.id || isChildOf(target.id, location)">
              {{ target.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="divider"></div>
      
      <div class="menu-actions">
        <button class="menu-item-btn" [routerLink]="['/location', location.id]" (click)="location.showMenu = false">
          <i class="fa fa-expand-alt"></i> {{'COMMON.INFO' | translate}}
        </button>
        <button class="menu-item-btn" (click)="rename.emit(location); location.showMenu = false">
          <i class="fa fa-pen"></i> {{'COMMON.RENAME' | translate}}
        </button>
        <div class="divider"></div>
        <button (click)="delete.emit(location); location.showMenu = false" class="menu-item-btn delete-loc-btn">
          <i class="fa fa-trash-alt"></i> {{'COMMON.DELETE' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div cdkDropList [id]="location.id" [cdkDropListData]="location.items"
       [cdkDropListConnectedTo]="connectedLists" (cdkDropListDropped)="onItemDrop($event)"
       class="items-container">
    
    <app-item-card *ngFor="let item of location.items" 
      [item]="item"
      [flatLocations]="flatLocations"
      [menuOpenItemId]="openItemMenuId"
      (menuOpenedItemIdChange)="onItemMenuToggled($event)"
      (sell)="sellItem.emit($event)"
      (lend)="lendItem.emit($event)"
      (delete)="deleteItem.emit($event)"
      (move)="moveItemManual.emit($event)">
    </app-item-card>
    
    <div class="empty-state" *ngIf="location.items.length === 0">
      <i class="fa fa-box-open"></i>
      <p>{{'LOCATION_CARD.EMPTY' | translate}}</p>
    </div>
  </div>

  <div class="child-locations" *ngIf="location.children?.length">
    <app-location-card 
        *ngFor="let child of location.children" 
        [location]="child"
        [flatLocations]="flatLocations"
        [connectedLists]="connectedLists"
        [isChildOf]="isChildOf"
        (itemDropped)="itemDropped.emit($event)"
        (move)="move.emit($event)"
        (moveItemManual)="moveItemManual.emit($event)" 
        (rename)="rename.emit($event)"
        (delete)="delete.emit($event)"
        (sellItem)="sellItem.emit($event)"
        (lendItem)="lendItem.emit($event)"
        (deleteItem)="deleteItem.emit($event)"> 
    </app-location-card>
  </div>
</div>