<div class="location-view" *ngIf="!isLoading; else loader">
  <div class="container" *ngIf="location">
    
    <header class="location-simple-header">
      <div class="breadcrumb-trail">
        <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
          <a [routerLink]="['/location', crumb.id]" [class.active]="last">
            <i *ngIf="last" [className]="'fa ' + (location.icon || 'fa-folder') + ' icon-start'" [style.color]="location.color"></i>
            {{ crumb.name }}
          </a>
          <i class="fa fa-chevron-right separator" *ngIf="!last"></i>
        </ng-container>
      </div>
    </header>

    <div class="content-grid">
      <aside class="side-panel">
        <div class="panel-section" *ngIf="location.parentLocation">
          <h3 class="panel-title">{{ 'LOCATION_DETAILS.UPPER_LEVEL' | translate }}</h3>
          <a [routerLink]="['/location', location.parentLocation.id]" class="sub-loc-card parent-link">
            <i class="fa fa-level-up-alt"></i>
            <span class="name">{{ location.parentLocation.name }}</span>
          </a>
        </div>

        <div class="panel-section" *ngIf="location.children && location.children.length > 0">
          <h3 class="panel-title">{{ 'LOCATION_DETAILS.NESTED' | translate }}</h3>
          <div class="sub-locations">
            <a *ngFor="let child of location.children" 
               [routerLink]="['/location', child.id]" 
               class="sub-loc-card child-link">
              <i [className]="'fa ' + (child.icon || 'fa-folder')" [style.color]="child.color"></i>
              <span class="name">{{ child.name }}</span>
              <i class="fa fa-chevron-right arrow"></i>
            </a>
          </div>
        </div>
      </aside>

      <main class="items-area">
        <div class="area-header">
          <h2 class="section-title">
            {{ 'LOCATION_DETAILS.ITEMS_COUNT' | translate }} 
            <span class="count-badge">{{ location.items.length || 0 }}</span>
          </h2>
        </div>

        <div class="items-grid" *ngIf="location.items.length; else emptyState">
          <div class="item-tile" 
               *ngFor="let item of location.items"
               [style.border-left]="'4px solid ' + getAccentColor(item.id)">
            
            <div class="tile-image" [routerLink]="['/item', item.id]">
              <img *ngIf="item.photoUrl" [src]="getPhotoUrl(item.photoUrl)" loading="lazy">
              <i *ngIf="!item.photoUrl" class="fa fa-archive"></i>
              
              <div class="status-overlay" [ngClass]="getStatusClass(item.status)">
                  {{ getStatusKey(item.status) | translate }}
              </div>
            </div>
            
            <div class="tile-content">
              <h3 [routerLink]="['/item', item.id]">{{ item.name }}</h3>
              <p>{{ item.description || ('LOCATION_DETAILS.NO_DESCRIPTION' | translate) }}</p>
              
              <div class="tile-actions">
                <button class="inest-action-btn edit" 
                        [routerLink]="['/item/edit', item.id]"
                        [title]="'COMMON.EDIT' | translate">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="inest-action-btn is-danger" 
                        (click)="onDeleteItem(item)"
                        [title]="'COMMON.DELETE' | translate">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<ng-template #emptyState>
  <div class="empty-view">
    <i class="fa fa-box-open"></i>
    <p>{{ 'LOCATION_DETAILS.NO_ITEMS' | translate }}</p>
  </div>
</ng-template>

<ng-template #loader>
  <div class="loader-state">
    <div class="spinner"></div>
  </div>
</ng-template>