<div class="location-view" *ngIf="!isLoading; else loader">
  <div class="container" *ngIf="location">
    
    <div class="breadcrumb-trail">
      <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
        <a [routerLink]="['/location', crumb.id]" [class.active]="last">{{ crumb.name }}</a>
        <i class="fa fa-chevron-right" *ngIf="!last"></i>
      </ng-container>
    </div>

    <header class="header-card main-location-card" [style.border-top-color]="location.color">
      <div class="header-left">
        <div class="location-info">
          <div class="icon-wrapper" [style.background-color]="location.color + '20'">
            <i [className]="'fa ' + (location.icon || 'fa-folder')" [style.color]="location.color"></i>
          </div>
          <div class="title-block">
            <span class="location-label">{{ 'LOCATION_DETAILS.STORAGE_PLACE' | translate }}</span>
            <h1>{{ location.name }}</h1>
          </div>
        </div>
      </div>

      <div class="header-actions">
        <button class="inest-btn-ribbon-add" [routerLink]="['/create-item']" [queryParams]="{locationId: location.id}">
          <i class="fa fa-plus"></i>
          <span>{{ 'COMMON.ADD' | translate }}</span>
        </button>
      </div>
    </header>

    <div class="content-grid">
      <aside class="side-panel">
        <div class="panel-section" *ngIf="location.parentLocation">
          <h3 class="panel-title">{{ 'LOCATION_DETAILS.UPPER_LEVEL' | translate }}</h3>
          <a [routerLink]="['/location', location.parentLocation.id]" class="sub-loc-card parent-link">
            <i class="fa fa-level-up-alt"></i>
            <span class="name">{{ location.parentLocation.name }}</span>
          </a>
        </div>

        <div class="panel-section">
          <h3 class="panel-title">{{ 'LOCATION_DETAILS.NESTED' | translate }}</h3>
          <div class="sub-locations">
            <div class="sub-loc-card current">
               <i [className]="'fa ' + (location.icon || 'fa-folder')" [style.color]="location.color"></i>
               <span class="name">{{ location.name }}</span>
            </div>

            <a *ngFor="let child of location.children" 
               [routerLink]="['/location', child.id]" 
               class="sub-loc-card child-link">
              <i [className]="'fa ' + (child.icon || 'fa-folder')" [style.color]="child.color"></i>
              <span class="name">{{ child.name }}</span>
              <i class="fa fa-chevron-right arrow"></i>
            </a>
          </div>
        </div>
      </aside>

      <main class="items-area">
        <div class="area-header">
          <h2 class="panel-title">
            {{ 'LOCATION_DETAILS.ITEMS_COUNT' | translate }} ({{ location.items.length || 0 }})
          </h2>
        </div>

        <div class="items-grid" *ngIf="location.items.length; else emptyState">
          <div class="item-tile" 
               *ngFor="let item of location.items"
               [style.border-left]="'4px solid ' + getAccentColor(item.id)">
            
            <div class="tile-image" [routerLink]="['/item', item.id]">
              <img *ngIf="item.photoUrl" [src]="getPhotoUrl(item.photoUrl)" loading="lazy">
              <i *ngIf="!item.photoUrl" class="fa fa-archive"></i>
              
              <div class="status-overlay" [ngClass]="getStatusClass(item.status)">
                  {{ getStatusKey(item.status) | translate }}
              </div>
            </div>
            
            <div class="tile-content">
              <h3 [routerLink]="['/item', item.id]">{{ item.name }}</h3>
              <p>{{ item.description || ('LOCATION_DETAILS.NO_DESCRIPTION' | translate) }}</p>
              
              <div class="tile-actions">
                <button class="inest-action-btn edit" 
                        [routerLink]="['/item/edit', item.id]"
                        [title]="'COMMON.EDIT' | translate">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="inest-action-btn is-danger" 
                        (click)="onDeleteItem(item)"
                        [title]="'COMMON.DELETE' | translate">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<ng-template #emptyState>
  <div class="empty-view">
    <p>{{ 'LOCATION_DETAILS.NO_ITEMS' | translate }}</p>
  </div>
</ng-template>

<ng-template #loader>
  <div class="loader-state">
    <div class="spinner"></div>
  </div>
</ng-template>