<div class="item-card"
  cdkDrag
  [cdkDragData]="item"
  [cdkDragDisabled]="isMobile"
  [class.menu-open]="showMenu"
  [style.border-left-color]="getAccentColor()">

  <div class="item-thumb" [routerLink]="['/item', item.id]">
    @if (item.photoUrl) {
      <img [src]="getPhotoUrl(item.photoUrl)" alt="item">
    } @else {
      <div class="no-image"><i class="fa fa-box-open"></i></div>
    }
  </div>

  <div class="item-content" [routerLink]="['/item', item.id]">
    <div class="item-header">
      <span class="item-name" [title]="item.name">{{ item.name }}</span>
    </div>
    <div class="item-details">
      @if (featureService.isSalesModeEnabled() && item.estimatedValue) {
        <span class="price-tag">
          {{ item.estimatedValue | number:'1.0-0' }} <i class="fa fa-coins"></i>
        </span>
      }
      <span class="status-badges">
        @if (item.status === 6) { <i class="fa fa-shopping-cart" style="color: var(--g-blue)"></i> }
        @if (item.status === 1) { <i class="fa fa-share-square" style="color: var(--g-yellow)"></i> }
        @if (item.status === 7) { <i class="fa fa-reply-all" style="color: var(--g-green); transform: scaleX(-1);"></i> }
      </span>
    </div>
  </div>

  <div class="card-action-bar">
    <button class="inest-action-btn btn-info" [routerLink]="['/item', item.id]" [title]="'COMMON.INFO' | translate">
      <i class="fa fa-info-circle"></i>
    </button>
    
    <button class="inest-action-btn btn-edit" (click)="edit.emit(item); $event.stopPropagation()" [title]="'COMMON.EDIT' | translate">
      <i class="fa fa-pen"></i>
    </button>

    <button class="inest-action-btn btn-lend" [disabled]="!canLend" (click)="canLend && lend.emit(item); $event.stopPropagation()" [title]="'COMMON.LEND' | translate">
      <i class="fa fa-handshake"></i>
    </button>

    @if (canReturn) {
      <button class="inest-action-btn btn-return" (click)="returnItem.emit(item); $event.stopPropagation()" [title]="'COMMON.RETURN' | translate">
        <i class="fa fa-undo"></i>
      </button>
    }

    @if (featureService.isSalesModeEnabled()) {
      <button class="inest-action-btn btn-sell" [disabled]="!canSell" (click)="canSell && sell.emit(item); $event.stopPropagation()" [title]="'COMMON.SELL' | translate">
        <i class="fa fa-dollar-sign"></i>
      </button>
    }

    <div class="move-menu-wrapper">
      <button class="inest-action-btn btn-move" (click)="toggleMenu($event); $event.stopPropagation()" [class.active]="showMenu" [title]="'COMMON.MOVE' | translate">
        <i class="fa fa-exchange-alt"></i>
      </button>

      @if (showMenu) {
        <div class="menu-dropdown item-move-dropdown">
          <div class="dropdown-header"><i class="fa fa-level-up-alt"></i> {{'DROP_MENU.MOVE_MSG' | translate}}</div>
          <div class="select-container">
            <select (change)="onMove($event)" (click)="$event.stopPropagation()">
              <option value="" disabled selected>{{'DROP_MENU.SELECT_LOCATION' | translate}}</option>
              @for (loc of availableLocations; track loc.id) {
                <option [value]="loc.id">{{ loc.name }}</option>
              }
            </select>
            <i class="fa fa-chevron-down select-arrow"></i>
          </div>
        </div>
      }
    </div>

    <button class="inest-action-btn btn-delete" (click)="delete.emit(item); $event.stopPropagation()" [title]="'COMMON.DELETE' | translate">
      <i class="fa fa-trash-alt"></i>
    </button>
  </div>

  @if (!isMobile) {
    <div class="handle-section">
        <div class="v-divider"></div>
        <div class="drag-handle" cdkDragHandle>
            <i class="fa fa-ellipsis-v"></i>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
  }
</div>